@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global
------------------ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  word-wrap: break-word !important;
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
}
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

.no-display {
  display: none;
}

.blue {
  color: #0b2751;
}
.bg-blue {
  background-color: #0b2751;
}
.grey {
  color: darkslategrey;
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.pink {
  color: #e40e7f;
}
.bg-pink {
  color: #e40e7f;
}

/* Navigation
------------------ */

nav {
  display: grid;
  grid-template: repeat(2, 37px) / 20% repeat(5, 1fr) 20% 11%;
  width: 100%;
  padding: 1.5vw 1vw;
  box-sizing: border-box;
  background: #0b2751c4;
}

nav img {
  grid-area: 1/1 / span 2 / span 1;
}

#menu {
  display: flex;
  grid-area: 2/2/2/9;
  list-style: none;
  color: white;
  align-self: start;
  justify-content: flex-end;
}
.menu-link {
  padding: 10px 5px;
  margin-left: 30px;
  border-bottom: #e40e7f00 2px solid;
  transition: all 0.3s ease;
}
.menu-link:hover {
  border-bottom: #e40e7f 2px solid;
}
.menu-link a {
  color: white;
  font-weight: 200;
  transition: all 0.3s ease;
}
.menu-link:hover > a {
  font-weight: 400;
  letter-spacing: -0.025px;
}
.sub-menu {
  list-style: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background-color: #ffffffeb;
  z-index: 1500;
  top: 124px;
  transform: translateX(-10px);
}
.menu-link:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.sub-menu li {
  padding: 7px 15px;
  transition: all 0.3s ease;
}
.sub-menu li a {
  color: #0b2751;
  font-weight: 300;
  transition: all 0.3s ease;
}
.sub-menu li:hover {
  background-color: #0b2751;
}
.sub-menu li:hover > a {
  color: white;
}
.contact-link {
  color: white;
  justify-self: end;
  background: #e40e7f;
  font-size: 18px;
  padding: 0.2vw 0.75vw;
  border-radius: 50px;
  align-self: self-start;
}

#nav-mail {
  grid-column-start: 7;
  /*! justify-self: center; */
}
#nav-number {
  font-weight: 900;
  letter-spacing: 1px;
}

/* Header
------------------ */

header {
  width: 100%;
  background-image: url(assets/header-img-05.jpg);
  height: 40vw;
  background-size: 150%;
  background-position: -41vw -10vw;
  background-repeat: no-repeat;
}

header hgroup {
  position: relative;
  margin: auto;
  top: 18vw;
  left: 2vw;
}

header hgroup h1 {
  background: #02337f87;
  width: fit-content;
  color: white;
  font-size: 9vw;
  font-weight: 900;
  padding: 0 1vw;
}
header hgroup p {
  background: #02337f87;
  width: fit-content;
  color: white;
  font-size: 2.5vw;
  padding: 0 1vw;
}

/* Court Rep Panel 1
------------------ */
#court-rep-conatiner {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 5vw;
  margin-bottom: -4px;
}
#court-rep-header {
  align-self: center;
  width: 50%;
  position: relative;
  top: -4vw;
}
#court-rep-figure {
  width: 35%;
}
#court-rep-header h2 {
  font-size: 3.6vw;
  margin-bottom: 2vw;
  color: #0b2751;
  font-weight: 900;
  line-height: 1.1;
}
#court-rep-header p {
  color: slategrey;
  font-size: 18px;
  line-height: 1.5;
}
#court-rep-figure img {
  width: 100%;
}

/* We Can help Panel 2
------------------ */
#ukhr-can-help {
  width: 100%;
  background-image: url(assets/married-couple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}
#help-header {
  width: fit-content;
  padding: 4vw;
}
#help-header h2 {
  font-size: 4vw;
  font-weight: 900;
  border-bottom: #e40e7f 5px solid;
  padding-bottom: 10px;
}
.list-container {
  display: flex;
  justify-content: space-around;
}
.help-list {
  width: 23%;
}
.help-list li {
  display: grid;
  grid-template: 1fr / 25px 20px 1fr;
  margin: 50px 0;
}
.help-list li img {
  align-self: start;
}
.help-list li .li-txt {
  grid-area: 1/3;
}
.help-list li .li-txt h4 {
  color: white;
  font-size: 20px;
  align-self: start;
}
.help-list li .li-txt p {
  color: #9eacba;
  font-size: 20px;
  align-self: center;
}
